/* body {
	font-family: sans-serif;
	font-size: calc(0.5em + 1vmin);
	color: #eee;
	background-color: #111;
	width: 100%;
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
} */

.paces {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
	padding-top: 100%;
}

.pace {
	font-size: 90%;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 0.5em;
	text-align: center;
	border: 1px solid #fff;
	border-radius:50%;
	background-color: rgba(255, 255, 255, 0.1);
	transition: all ease-in-out 0.2s;
}

.pace .quote {
	opacity: 0;
	margin: 0;
	padding: 0;
}

.pace:hover, .pace:focus, .pace:active {
	cursor: grabbing;
	background-color: rgb(101, 123, 196);
	color: #111;
	animation: none !important;
	
}

.pace:hover .quote, .pace:focus .quote, .pace:active .quote {
	color: #fff;
	hyphens: auto;
	z-index: 100;
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.pace.design {
	margin: 10%;
	animation: 5s infinite linear rotate;
}

.pace.marketing {
	margin: 5%;
	animation: 15s infinite linear rotate;
	box-shadow: 0 0 5em #fff;
	font-size: 10px;
}

.pace.ppc {
	margin: 15%;
	animation: 7s infinite linear rotate;
}

.pace.smo {
	margin: 20%;
	animation: 14s infinite linear rotate;
}

.pace.seo {
	margin: 25%;
	animation: 12s infinite linear rotate;
	
}

.pace.ML {
	margin: 30%;
	animation: 8s infinite linear rotate;
}

.pace.AI {
	margin: 35%;
	animation: 10s infinite linear rotate;
	
}

.quote.marketing {
	padding: 15%;
	font-size: 12px;
}

.quote.design {
	padding: 10%;
	font-size: 12px;
}

.quote.ppc {
	padding: 5%;
	font-size: 11px;
}

.quote.smo {
	padding: 4%;
	font-size: 10px;
	
}

.quote.seo {
	font-size: 11px;
	
}
.quote.ML {
	font-size: 14px;
	
}

.quote.AI {
	font-size: 12px;
	
}

.quotes .quote {
	opacity: 0;
}

.quotes .quote:target {
	position: absolute;
	top: 0;
	opacity: 1;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}



#wrap {
	width:100%;
	margin:20px auto;
	
 }
 #left_col {
	float:left;
	width:50%;
	background: red;
 }
 #right_col {
	/* float:right; */
	width:50%;
	/* height: 50vh; */
	font-family: sans-serif;
	/* font-size: calc(0.5em + 1vmin); */
	color: #111;
	background-color: #c14bb5;
	/* max-width: 35%; */
	margin: auto;
	border-radius: 50%;
	margin-top: 2rem;
	padding: 2em;
 }


 /* @media only screen and (max-width: 320px) {
	body {
	  background-color: lightblue;
	}
  } */
 /* @media only screen and (max-width: 320px) and (max-width: 1281px) {
	
	#right_col {
		width: 100%;
		padding: 1rem;
	}

 } */


  
   /* On screens that are 992px wide or less, the background color is blue */
  @media screen and (min-width: 320px) {
	#right_col {
		width: 100%;
		padding: 1rem;
	}
	.pace.design {
		margin: 10%;
		font-size: 8px;
	}
	
	.pace.marketing {
		margin: 5%;
		font-size: 8px;
	}
	.pace.ppc {
		margin: 15%;
		font-size: 8px;
	}
	
	.pace.smo {
		margin: 20%;
		font-size: 8px;
	}
	
	.pace.seo {
		margin: 25%;
		font-size: 8px;
		
	}
	
	.pace.ML {
		margin: 30%;
		font-size: 8px;
	}
	
	.pace.AI {
		margin: 35%;
		font-size: 8px;
		
	}

	.quote.marketing {
		padding: 15%;
		font-size: 7px;
		font-weight: 600;
	}
	
	.quote.design {
		padding: 10%;
		font-size: 7px;
		font-weight: 600;
	}
	
	.quote.ppc {
		padding: 5%;
		font-size: 7px;
		font-weight: 600;
	}
	
	.quote.smo {
		padding: 4%;
		
		font-size: 7px;
		font-weight: 600;
	}
	
	.quote.seo {
		
		font-size: 7px;
		font-weight: 600;
		
	}
	.quote.ML {
		font-size: 7px;
		font-weight: 600;
		
	}
	
	.quote.AI {
		
		font-size: 7px;
		font-weight: 600;
		
	}
  }
  
   /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (min-width: 768px) {
	#right_col {
		width: 100%;
		padding: 1rem;
	}

	.pace.design {
		margin: 10%;
		font-size: 20px;
	}
	
	.pace.marketing {
		margin: 5%;
		font-size: 20px;
	}
	.pace.ppc {
		margin: 15%;
		font-size: 20px;
	}
	
	.pace.smo {
		margin: 20%;
		font-size: 20px;
	}
	
	.pace.seo {
		margin: 25%;
		font-size: 20px;
		
	}
	
	.pace.ML {
		margin: 30%;
		font-size: 20px;
	}
	
	.pace.AI {
		margin: 35%;
		font-size: 20px;
		
	}

	.quote.marketing {
		padding: 15%;
		font-size: 20px;
		font-weight: 600;
	}
	
	.quote.design {
		padding: 10%;
		font-size: 20px;
		font-weight: 600;
	}
	
	.quote.ppc {
		padding: 5%;
		font-size: 20px;
		font-weight: 600;
	}
	
	.quote.smo {
		padding: 4%;
		
		font-size: 20px;
		font-weight: 600;
	}
	
	.quote.seo {
		font-size: 20px;
		font-weight: 600;
	}
	.quote.ML {
		font-size: 20px;
		font-weight: 600;
		
	}
	
	.quote.AI {
		font-size: 20px;
		font-weight: 600;
		
	}
  }   

  @media screen and (min-width: 1080px) {
	#right_col {
		width: 50%;
		padding: 1rem;
	}

	.pace.design {
		margin: 10%;
		font-size: 14px;
	}
	
	.pace.marketing {
		margin: 5%;
		font-size: 14px;
	}
	.pace.ppc {
		margin: 15%;
		font-size: 14px;
	}
	
	.pace.smo {
		margin: 20%;
		font-size: 14px;
	}
	
	.pace.seo {
		margin: 25%;
		font-size: 14px;
		
	}
	
	.pace.ML {
		margin: 30%;
		font-size: 14px;
	}
	
	.pace.AI {
		margin: 35%;
		font-size: 14px;
		
	}

	.quote.marketing {
		padding: 15%;
		font-size: 14px;
		font-weight: 600;
	}
	
	.quote.design {
		padding: 10%;
		font-size: 14px;
		font-weight: 600;
	}
	
	.quote.ppc {
		padding: 5%;
		font-size: 14px;
		font-weight: 600;
	}
	
	.quote.smo {
		padding: 4%;
		
		font-size: 14px;
		font-weight: 600;
	}
	
	.quote.seo {
		font-size: 14px;
		font-weight: 600;
	}
	.quote.ML {
		font-size: 14px;
		font-weight: 600;
		
	}
	
	.quote.AI {
		font-size: 14px;
		font-weight: 600;
		
	}
  }   


  /* .container-fluid {
	  padding: 0 !important;
  } */

  a:focus,a:hover {
	text-decoration:none;
	-webkit-transition:.3s ease;
	-o-transition:.3s ease;
	transition:.3s ease
   }
   a:focus {
	outline:0
   }
   
   
   a {
	color:#5867dd
   }
   
   .mini-footer {
	background:#192027;
	text-align:center;
	padding:32px 0
   }
   .mini-footer p {
	margin:0;
	line-height:26px;
	font-size:15px;
	color:#999
   }
   .mini-footer p a {
	color:#5867dd
   }
   .mini-footer p a:hover {
	color:#34bfa3
   }

   
   .top-line {
    padding: 10px 0;
    background: #666;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    overflow: hidden;
}
.top-line p, .top-line a {
    color: #ffffff;
    margin: 0;
}
.top-line p span { margin-right: 20px; }
.top-line p span i {
    font-size: 13px;
    color:#fff;
    margin-right: 10px;
}
.top-line ul.social-icons {
    margin: 0;
    padding: 0;
    text-align: right;
}
.top-line ul.social-icons li {
    display: inline-block;
    margin-left: 9px;
}
.top-line ul.social-icons li a {
    display: inline-block;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: #ffffff;
}
.top-line ul.social-icons li a:hover { color: #ffba00; }
header.active .top-line {
    height: 0;
    padding: 0;
}
/*** Brand logo ***/

.brand {
    width: 200px;
    height: 90px;
}


.bgimg {
	background-image: url('/codepen/Ai.jpg');
	height: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 25px;
	margin-right: -15px;
        margin-left: -15px;
  }
  
  .topleft {
	position: absolute;
	top: 0;
	left: 16px;
  }
  
  .bottomleft {
	position: absolute;
	bottom: 0;
	left: 16px;
  }
  
  .middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #c14bb5;
	
  }
  
  hr {
	margin: auto;
	width: 40%;
  }

  @media screen and (min-width: 768px) {
	.container {
		max-width: 100% !important;
	}
  }
